body{
    padding: 0;
    margin: 0;
    background-color: #4b4b4b;
}
nav{
    width: 100%;
    background-color: #d6bb22;
    text-align: center;
    align-items: center;
    padding: 20px;
}
main{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    width: 80%;
    padding: 20px;
}
footer{
    width: 100%;
    background-color: #d6bb22;
    text-align: center;
    align-items: center;
    padding: 20px;
}
.Text{
    background-color: #202020;
    margin: 20px;
    border-radius: 10%;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li{
    background-color: #202020;
    padding: 20px;
    width: 14%;

}
