body{
    margin: 0;
    padding: 0;
    display: flex;
    overflow:hidden;
}

#lewa{
    background-color: yellow;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#prawa{
    background-color: blue;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LewaBlock{
    width: 50%;
    height: 50vh;
    border: solid 2px black;
}

.LeftToRight{
    display: flex;
}

.ToDownRight{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    border-top: solid 1px black;
    border-left: solid 1px black;
}

.ToUpRight{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}

.ToDownLeft{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

.ToUpLeft{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}

.Lgreen{
    background-color: greenyellow;
    width: 50%;
    height: 50%;
}

.Lred{
    background-color: red;
    width: 50%;
    height: 50%;
}

.Lyellow{
    background-color: yellow;
    width: 50%;
    height: 50%;
}

.Lblue{
    background-color: blue;
    width: 50%;
    height: 50%;
}

#PMid{
    background-color: purple;
    border-top: solid 1px black;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Pblue{
    background-color: blue;
    border-top: solid 1px black;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Pgreen{
    background-color: green;
    border-top: solid 1px black;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Pyellow{
    background-color: yellow;
    border-top: solid 1px black;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Pred{
    background-color: red;
    border-top: solid 1px black;
    width: 100%;
    height: 25%;
}

.PToDown{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}

.PToUp{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.Pwhite{
    background-color: white;
    border: solid 1px black;
    width: 25%;
    height: 50%;
}

.PToDown div{
    border-bottom: solid 0px black;
}

.PToUp div {
    border-top: solid 0px black;
}