@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');

.zegar
{
    display: flex;
    font-size: 24px;
    margin: auto;
    width: 100%;
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 400;
    font-style: normal;
}